
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: courier ,  sans-serif;
}

html {
  font-size: 125%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(177, 177, 177);
}



.app {
  text-align: center;
}